/* For mobile devices between 376px and 576px */
@media (min-width: 319px) and (max-width: 576px) {
  .container {
    width: 90%;
  }
  /* *HEADER START */
  header {
    padding: 30px 0;
  }
  .logo {
    font-size: 1.5rem;
  }
  .header-menu {
    display: none;
  }
  .header-toggler {
    display: block;
  }
  /* *HEADER END */

  /* *HERO START */
  .hero-contents h1 {
  font-size: 2rem;
  width: 100%;
}
  /* *HERO END */
}

/* For tablets between 577px and 768px */
@media (min-width: 577px) and (max-width: 768px) {
  .container {
    width: 90%;
  }

  /* *HEADER START */
  header {
    padding: 30px 0;
  }
  .logo {
    font-size: 2rem;
  }
   .header-menu {
    display: none;
  }
  .header-toggler {
    display: block;
  }
  /* *HEADER END */

    /* *HERO START */
  .hero-contents h1 {
  width: 90%;
}
  /* *HERO END */
}

/* For tablets and small desktops between 769px and 1024px */
@media (min-width: 1025px) and (max-width: 1280px) {
    /* *HEADER START */
  .logo {
    font-size: 2rem;
  }
  .header-menu ul {
    gap: 40px;
  }
  .header-toggler {
    display: none;
  }
  /* *HEADER END */
}

/* For desktops between 1025px and 1280px */
@media (min-width: 1025px) and (max-width: 1280px) {
  /* Styles for screens between 1025px and 1280px */
}

/* For larger desktops between 1281px and 1536px */
@media (min-width: 1281px) and (max-width: 1536px) {
  /* Styles for screens between 1281px and 1536px */
}

/* For extra-large desktops above 1536px */
@media (min-width: 1536px) {
}
