:root {
  --primary-clr: #131313;
  --secondary-clr: #727272;
  --accent-clr: #ff900e;
  --lightBlack-clr: #424242;
  --white-clr: #ffffff;
  --bg-clr: #ff8f0e1a;
}

/* *Utilities */
.container {
  margin: 0 auto;
  width: 85%;
  max-width: 1536px;
}

.grid {
  display: grid;
}

.flex {
  display: flex;
}

.flex-wrap {
  flex-wrap: wrap;
}

.justify-content-center {
  justify-content: center;
}

.justify-space-between {
  justify-content: space-between;
}

.align-items-center {
  align-items: center;
}

.text-center {
  text-align: center;
}

/* *Components */
.btn {
  padding: 20px 25px;
  font-weight: 600;
  background-color: var(--accent-clr);
  color: var(--white-clr);
  border-radius: 8px;
  transition: background-color 0.33s ease-in-out;
}
.btn:hover {
  background-color: #131313;
}

a {
  margin: 50px;
  font-weight: 500;
  color: var(--lightBlack-clr);
  transition: color 0.33s ease-in-out;
}
a:hover {
  color: var(--accent-clr);
}

/* *COMMON CSS START */
h1,
h2,
h3 {
  color: var(--primary-clr);
}
p {
  color: var(--secondary-clr);
}
/* *COMMON CSS END */

.logo {
  display: flex;
  align-items: center;
  gap: 1px;
  font-size: 45px;
  font-weight: 700;
  color: var(--primary-clr);
  width: 235px;
}
.logo:hover {
  color: var(--primary-clr);
}
.logo img {
  margin-bottom: -8px;
  height: 53px;
}
