@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");
.work-sans {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

:root {
  --primary-clr: #131313;
  --secondary-clr: #727272;
  --accent-clr: #ff900e;
  --lightBlack-clr: #424242;
  --white-clr: #ffffff;
  --bg-clr: #ff8f0e1a;
}

/* *Utilities */
.container {
  margin: 0 auto;
  width: 85%;
  max-width: 1440px;
  border: 1px solid;
}

.grid {
  display: grid;
}

.flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.flex-wrap {
  flex-wrap: wrap;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.m-auto {
  margin-inline: auto;
}

.align-center {
  align-items: center;
}

.text-center {
  text-align: center;
}

/* *Components */
.btn {
  padding: 20px 25px;
  font-weight: 600;
  width: 180px;
  background-color: var(--accent-clr);
  color: var(--white-clr);
  border-radius: 8px;
  transition: background-color 0.33s ease-in-out;
}
.btn:hover {
  background-color: #131313;
}

a {
  font-weight: 500;
  color: var(--lightBlack-clr);
  transition: color 0.33s ease-in-out;
}
a:hover {
  color: var(--accent-clr);
}

/* *COMMON CSS START */
h1,
h2,
h3 {
  color: var(--primary-clr);
}
h1,
h4 {
  font-weight: 800;
}
h2 {
  font-weight: 700;
}
p {
  color: var(--secondary-clr);
}
header,
.hero {
  background-color: var(--bg-clr);
}
.main {
  background-color: var(--white-clr);
}
/* *COMMON CSS END */

/* *HEADER START */
header {
  padding: 50px 0;
}
.logo {
  display: flex;
  align-items: center;
  gap: 1px;
  font-size: 2.8rem;
  font-weight: 700;
  color: var(--primary-clr);
  width: 235px;
}
.logo:hover {
  color: var(--primary-clr);
}
.logo img {
  height: 53px;
}
.header-menu ul {
  gap: 80px;
}
.header-toggler {
  display: none;
}
.header-toggler svg {
  fill: var(--primary-clr);
  transition: fill 0.33s ease-in-out;
}
.header-toggler svg:hover {
  fill: var(--accent-clr);
  cursor: pointer;
}
/* *HEADER END */

/* *HERO START */
.hero {
  padding: 50px 0 45px;
}
.hero-container {
  gap: 50px;
}
.hero-contents {
  max-width: 860px;
}
.hero-contents h1 {
  font-size: 4rem;
  width: 70%;
}
.hero-contents p {
  margin: 32px auto;
}
.hero-image img {
  border-radius: 8px;
}
/* *HERO END */

/* *FEATURES START */
/* ?FEATURE DESCRIPTION */
.feature {
  padding: 85px 60px 130px;
  padding: 85px 0 130px;
}
.feature-container {
  gap: 70px;
  padding: 0 70px;
}
.feature-image-grid {
  grid-template-columns: repeat(2, 342px);
  gap: 24px;
}
.feature-contents h2 {
  font-size: 2.8rem;
  font-weight: 500;
  color: var(--secondary-clr);
}
.feature-contents h2 span:nth-child(2) {
  font-weight: 700;
  color: var(--primary-clr);
}
.feature-contents h2 span:nth-child(3) {
  font-weight: 700;
  color: var(--accent-clr);
}
.feature-contents p,
.feature-details-title p {
  margin: 24px 0 32px;
  line-height: 26px;
}

/* ?FEATURE DETAILS */
.feature-detail-container {
  margin-bottom: 130px;
  flex: 1;
  /* gap: 150px; */
}
.feature-detail {
  margin: 38px 0;
}
.feature-details-title,
.feature-details {
  max-width: 550px;
}
.feature-details-title h2 {
  padding-left: 20px;
  font-size: 2.8rem;
  font-weight: 700;
  width: 70%;
  color: var(--primary-clr);
  border-left: 5px solid var(--accent-clr);
}
.feature-details-title p {
  margin: 24px 0 30px;
}
.feature-details-box {
  gap: 20px;
  width: 80%;
}
.detail {
  padding: 30px 33px;
  border-radius: 8px;
  box-shadow: 0 4px 30px 0 rgba(0, 0, 0, 0.1);
}
.detail h3 {
  font-size: 1.25rem;
  font-weight: 600;
}
.detail p {
  margin-top: 10px;
}

.feature-detail-image {
  position: relative;
}
.feature-detail-image img {
  width: 100%;
  height: 90%;
}
.experience-box {
  position: absolute;
  left: -20%;
  bottom: 0.3%;
  padding: 46px 42px 45px;
  width: 340px;
  background-color: var(--accent-clr);
  border-radius: 8px;
}
.experience-box h4,
.experience-box p {
  color: var(--white-clr);
}
.experience-box h4 {
  font-size: 3.5rem;
}
/* *FEATURES END */

/* *FACTS START */
/* *FACTS END */
